@import 'tailwindcss';

@theme {
    --color-cream: #FFF4E1;
    --color-rose-1: #FFBCD5;
    --color-rose-2: #DF9FAE;
    --color-rose-3: #C28A82;
    --color-brown: #8C6C49;
    --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
}


body {
    background: var(--color-cream);
    color: var(--color-rose-3);
    font-family: var(--font-sans);
    min-height: 100vh;
}